.containerHistory {
  display: flex;
  flex-direction: row;
  gap: calc(var(--spacer) / 4);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.tableContent {
  flex: 1;
}

.totalSummaryRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacer) * 4);
  width: 100%;
  margin-top: calc(var(--spacer) / 2);
  flex-wrap: nowrap;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: calc(var(--spacer) / 1.5);
}
