.logo {
  width: var(--menu-logo-size-width-sm);
  height: auto;
  margin: 0;
  display: block;
  transform: translateY(-0.45rem);
  transform-origin: left top;
  transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease;
}

a > .logo:hover path {
  opacity: 0.88;
}

@media screen and (min-width: 55rem) {
  .logo {
    width: var(--menu-logo-size-width-lg);
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    width: 11rem;
    height: auto;
    transform: translateY(-0.35rem);
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    width: var(--menu-logo-size-width-lg);
    height: auto;
  }
}
