.logo {
  width: var(--menu-logo-size-width-sm);
  height: var(--menu-logo-size-height-sm);
  margin: 0;
  transition: width 0.3s ease, height 0.3s ease;
}

a > .logo:hover path {
  opacity: 0.88;
}

@media screen and (min-width: 55rem) {
  .logo {
    width: var(--menu-logo-size-width-lg);
    height: var(--menu-logo-size-height-lg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    width: 3.25rem;
    height: 3.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    width: var(--menu-logo-size-width-lg);
    height: var(--menu-logo-size-height-lg);
  }
}
